@media screen and (max-width: 480px) {
    @font-face {
        font-family: UIFont;
        src: url("/static/font/03スマートフォントUI.otf") format("opentype");
    }
    @import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap');
    p.title {
        font-size: 150%;
        text-align: center;
    }
    h2.appbar-title {
        font-size: 190%;
        color: #009899;
        margin-right: 10vw;
        margin-top: 1.8vh;
        font-weight: bold;
        font-family: 'Zen Maru Gothic', sans-serif;
    }
    .back {
        margin-top: 2vh;
    }
    .add-link {
        background-color: #00A4A4;
        color: aliceblue;
        margin-top: 10vh;
        width: 80vw;
        height: 5vh;
        border-radius: 10px;
    }
    h5.mb-1 {
        font-family: 'Zen Maru Gothic', sans-serif;
    }
}
@media screen and (min-width: 481px) {
    @font-face {
        font-family: UIFont;
        src: url("/static/font/03スマートフォントUI.otf") format("opentype");
    }
    @import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap');
    p.title {
        font-size: 150%;
        text-align: center;
    }
    h2.appbar-title {
        font-size: 1vw;
        color: #009899;
        margin-right: 10vw;
        margin-top: 1.8vh;
        font-weight: bold;
        font-family: 'Zen Maru Gothic', sans-serif;
    }
    .back {
        margin-top: 2vh;
    }
    /* .add-link {
        background-color: #00A4A4;
        color: aliceblue;
        margin-top: 10vh;
        width: 80vw;
        height: 5vh;
        border-radius: 10px;
    } */
    h5.mb-1 {
        font-family: 'Zen Maru Gothic', sans-serif;
    }
    button.create-group {
        width: 20vw;
    }
    button.change-icon {
        width: 20vw;
    }
    button.gen-add-link {
        width: 20vw;
    }
    .friend-list {
        overflow: scroll;
        height: 74vh;
    }
    .talk {
        width:75vw;
        height:100vh;
    }
    .chat-base-text {
        font-family: 'Zen Maru Gothic', sans-serif;
        font-size: 300%;
        text-align: center;
        margin-top: 30vh;
        color: #108d78;
    }
    .chat-base-text2 {
        font-family: 'Zen Maru Gothic', sans-serif;
        font-size: 300%;
        text-align: center;
        color: #108d78;
    }
}