@font-face {
    font-family: UIFont;
    src: url("/static/font/03スマートフォントUI.otf") format("opentype");
}
button.login {
    background-color: #00A4A4;
    margin-top: 5vh;
    width: 80vw;
    height: 5vh;
    border-radius: 10px;
    color: aliceblue;
}
.login-title {
    font-weight: bold;
    font-family: "UIFont";
    color: #009899;
    font-size: 180%;
    margin-bottom: 10vh;
}
p.email-label {
    color: #108d8c;
    font-weight: 700;
    font-family: "UIFont";
}
p.username-label {
    color: #108d8c;
    font-weight: 700;
    font-family: "UIFont";
}
p.password-label {
    color: #108d8c;
    font-weight: 700;
    font-family: "UIFont";
}