<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevChat Web版</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="manifest" href="/static/manifest.json">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <script data-ad-client="ca-pub-9832656971052253" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body class="bg-white">
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="http://devchat.jp/images/devchat-logo.jpg" alt="" class="main-logo justify-content-center">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2 class="welcome text-center">
                    ようこそ
                </h2>
            </div>
        </div>
        <!-- <input type="button" id="btnWebPush" value="WebPush権限を取得">
        <br>
        <input type="text" value="YOUR-IID-TOKEN" id="txtIIToken" style="width:80%;">
        -->
        <div class="row">
            <div class="col d-flex align-items-center justify-content-center">
                <a href="/login">
                    <button class="btn login">
                        <p class="login">
                            ログイン
                        </p>
                    </button>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex align-items-center justify-content-center">
                <a href="/register">
                    <button class="btn register">
                        <p class="register">
                            新規作成
                        </p>
                    </button>
                </a>
            </div>
        </div>
    </div>
      <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.14.4/firebase-app.js"></script>
    <!-- FCMの読込 -->
    <script src="https://www.gstatic.com/firebasejs/7.14.4/firebase-messaging.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/eruda/1.4.3/eruda.min.js"></script> -->
    <script>
        //eruda.init();
        navigator.serviceWorker.register('/static/firebase-messaging-sw.js')
        // Your web app's Firebase configuration
        const firebaseConfig = {
          apiKey: "AIzaSyCtnBmAroB9LIeE7xgos2NkqIbEgzv5ZWA",
          authDomain: "devchat-77161.firebaseapp.com",
          projectId: "devchat-77161",
          storageBucket: "devchat-77161.appspot.com",
          messagingSenderId: "374091982593",
          appId: "1:374091982593:web:e74fba173322b4042c9d00",
          measurementId: "G-PN49LGKB1B"
        };

        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        const messaging = firebase.messaging();
        messaging.onMessage(function(payload) {
          console.log("Message received. ", payload);
          alert(payload.notification.title+"\r\n"
                +payload.notification.body+"\r\n"
                +payload.notification.icon);
        });
        
        //プッシュ通知パーミッション取得
        var requestPermission = function () {
          messaging.requestPermission()
          .then(function() {
            //ユーザー毎のトークンを取得して画面に表示する
            messaging.getToken()
            .then(function(token) {
              console.log('Token refreshed.');
              console.log("token "+token);
              document.getElementById("txtIIToken").value = token;
            })
            .catch(function(err) {
              console.log('Unable to retrieve refreshed token ', err);
            });
          })
          .catch(function(err) {
            console.log('Unable to get permission to notify.', err);
          });
        }
        window.onload = function() {
          //パーミッションを取得するボタンクリック時
          document.getElementById("btnWebPush").onclick = requestPermission;
        };
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
</body>
</html>